/* GENERAL STYLES */

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

nav,
ul,
.contactform,
form {
  display: flex;
}

form {
  flex-direction: column;
}

ul {
  list-style-type: none;
}

nav a {
  text-decoration: none;
}

article {
  display: flex;
  width: 100%;
}

article:nth-child(odd) {
  flex-direction: row-reverse;
}

h2,
h3 {
  font-family: "PT Serif", sans-serif;
  font-size: 72px;
  font-weight: 300;
}

img {
  width: 100%;
}

.logo {
  position: fixed;
  bottom: 10%;
  right: 5%;
  transition: 0.5s linear 0.4s;
  z-index: 100;
}

.logo.active {
  color: #fff;
}

/* === HAMBURGER STYLES ===  */

.burger {
  position: fixed;
  top: 30px;
  right: 30px;
  height: 13px;
  width: 15px;
  transition: 0.2s;
  cursor: pointer;
}

.burger.active {
  transform: rotate(90deg);
  z-index: 30;
}

.burger span {
  position: absolute;
  width: 15px;
  height: 1px;
  background-color: black;
  left: 0;
  transition: top 0.2s 0.2s, bottom 0.2s 0.2s, opacity 0.2s 0.2s,
    transform 0.2s 0.4s, background-color 0.4s 0.7s;
}

.burger span:nth-child(1) {
  top: 0px;
}

.burger.active span:nth-child(1) {
  top: 6px;
  transform: rotate(45deg);
  background-color: #fff;
}

.burger span:nth-child(2) {
  top: 6px;
}

.burger.active span:nth-child(2) {
  opacity: 0;
}

.burger span:nth-child(3) {
  bottom: 0;
}

.burger.active span:nth-child(3) {
  bottom: 6px;
  transform: rotate(-45deg);
  background-color: #fff;
}

/* THANKS FOR MESSAGE MESSAGE === */

.message {
  position: fixed;
  top: -50px;
  left: 50%;
  transform: translate(-50%, -100%);
  border: 2px solid #000;
  padding: 20px 30px;
  background-color: #fff;
  z-index: 1000;
  transition: 0.5s ease-in;
}

.message.active {
  top: 0;
  transform: translate(-50%, 0);
}

/* === contactform STYLES === */
.contactform {
  position: fixed;
  top: -100vh;
  background-color: rgba(0, 0, 0, 0.95);
  height: 100vh;
  width: 100vw;
  z-index: 2;
  transition: 0.3s linear;
}

.contactform.active {
  top: 0;
}

.contactform .container {
  display: flex;
  justify-content: center;
}

.contact_form-title {
  color: #fff;
  margin-bottom: 20px;
}

.contact_form {
  margin-top: 100px;
  width: 800px;
}

.input_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input_wrapper-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  position: relative;
}

.contact_form-input {
  border: none;
  border-bottom: 2px solid #fff;
  background: none;
  width: 300px;
  padding: 20px 10px;
  color: #fff;
}

.contact_form-input:focus {
  outline: none;
}

.contact_form-label {
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
}

.contact_form-input:focus ~ .contact_form-label,
.contact_form-input:valid ~ .contact_form-label {
  top: 0;
  transform: translateY(-100%);
}

.contact_form textarea {
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid #fff;
  color: white;
  padding: 10px;
}

textarea ~ .contact_form-label {
  top: 20px;
  left: 10px;
}

textarea:focus ~ .contact_form-label,
textarea:valid ~ .contact_form-label {
  top: 0;
  transform: translateY(-120%);
}

.contactform button {
  color: #fff;
  width: 50%;
  background: none;
  border: 2px solid #fff;
  padding: 20px;
  align-self: flex-end;
}

/* main-menu styles  */

.main-menu {
  position: fixed;
  top: -100vh;
  right: 0;
  height: 100vh;
  width: 300px;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.95);
  transition: 0.5s ease-in 0.4s;
  z-index: 20;
}

.main-menu.active {
  top: 0;
}

.main-menu ul {
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.main-menu li {
  padding: 15px;
  margin: 15px;
  font-size: 36px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.main-menu a {
  color: #fff;
}

/* === HEADER STYLES === */
header {
  height: 100vh;
  width: 100vw;
}

.hero figure {
  width: 60%;
  position: relative;
}

.hero img {
  transform: rotate(-3deg);
  box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.4);
}

.hero__content {
  display: flex;
  margin-top: 100px;
}

.hero article {
  display: flex;
  flex-direction: column;
  padding: 50px 100px;
}

.hero__content p:first-child {
  font-size: 48px;
}

.hero__content p {
  margin-bottom: 50px;
  font-size: 20px;
}

.title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.project {
  height: 100vh;
}

.project div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.project p {
  font-size: 24px;
  width: 80%;
}

.project .icons {
  flex-direction: row;
  justify-content: space-between;
  font-size: 50px;
  margin-top: 50px;
}

.icons a {
  color: black;
}

.project figure {
  width: 80%;
  height: 65%;
  overflow: hidden;
  position: absolute;
  top: 30%;
  box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.4);
  transition: 1s;
}

.project figure img {
  position: absolute;
  top: 0;
  transition: 1s;
}

/* === Footer styles === */

footer {
  height: 50vh;
  position: relative;
}

.trigerContactForm {
  cursor: pointer;
  font-family: "PT Serif", sans-serif;
  background-color: #000;
  position: absolute;
  color: white;
  text-decoration: none;
  font-size: 72px;
  width: 100%;
  padding: 250px 0;
  text-align: center;
  opacity: 0;
  transition: 0.3s ease-in;
}

.trigerContactForm:hover {
  font-size: 80px;
}

@media screen and (max-width: 1024px) {
  .hero__content img {
    position: absolute;
    top: 50%;
    transform: rotate(-3deg) translate(0, -50%);
  }

  .hero__content article {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 768px) {
  .hero__content {
    margin-top: 50px;
  }

  .project {
    flex-direction: column;
    margin-top: 50px;
  }

  .project:nth-child(odd) {
    flex-direction: column;
  }

  .project div,
  .project h3,
  .project p {
    width: 100%;
  }

  .project:last-of-type {
    margin-bottom: 100px;
  }

  .project div {
    height: 50%;
  }

  .project h3 {
    text-align: center;
  }

  .project .icons {
    margin-top: 20px;
    justify-content: space-around;
  }

  .project figure {
    width: 100%;
    height: 100%;
    top: 0;
  }

  .project p {
    font-size: 20px;
  }
}

@media screen and (max-width: 425.6px) {
  .hero__content {
    flex-direction: column-reverse;
  }

  .hero__content figure {
    height: 222.14px;
    align-self: center;
  }

  .container {
    width: 95%;
  }

  .projects {
    margin-top: 120px;
  }

  .contact_form .contact_form-title {
    font-size: 40px;
  }
}

@media screen and (max-width: 375px) {
  .projects {
    margin-top: 300px;
  }
}
